@charset "utf-8";
@font-face {	
	font-family: arial; 
	src: url('../fonts/MyriadWebPro.eot'); /* IE9 Compat Modes */
	src: url('../fonts/MyriadWebPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    /* url('../fonts/MyriadWebPro.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/MyriadWebPro.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/MyriadWebPro.svg#svgFontName') format('svg'); /* Legacy iOS */
	}
body {color: #414141;/*background:#f7f7f7;*/	font-family: myriad, arial; font-size:13px;padding:0; margin:0;}
.form-prereg input,.regBtn{margin-top:10px}
.jobfair_title{color:#AF2330;font-size:24px;}
h2{color:#0080B9;font-size:18px;}
.fair_desc{font-size:13px;}
.jobDetail{font-size:13px;text-align:justify}
.rightBar{border-right:1px dotted #e2dede;}
.compLogo{position:relative;margin-top:5px;}
.amper{margin-top:5px;font-size:44px;color:#cccccc;}
.colLogo{position:relative;}